<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><i class="fa-solid fa-triangle-exclamation"></i> <%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h4>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-6">
      <div class="form-floating mb-3">
        <%= form.text_field :title, class: "form-control", placeholder: "Task Title" %>
        <label for="floatingTitleInput">Task Title</label>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-10">
      <div class="form-floating mb-3">
        <%= form.text_area :description, class: "form-control", placeholder: "Task Description", cols: 30, rows: 10 %>
        <label for="floatingTitleInput">Task Description</label>
      </div>
    </div>
  </div>


  <div class="form-check">
    <%= form.checkbox :completed, class: "form-check-input" %>
    <%= form.label :completed, class: "form-check-label" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
