<div id="<%= dom_id task %>">
  <div class="container text-left">
    <div class="row task-row justify-content-md-center">
      <div class="col col-lg-2">
        <%= task.title %>
      </div>
      <div class="col col-lg-4">
        <%= task.description %>
      </div>
      <div class="col col-lg-2">
        <%= task.completed? ? '<i class="fa-solid fa-check"></i>'.html_safe : "" %>
      </div>
      <div class="col col-lg-2">
        <%= link_to "Show this task", task %>        
      </div>
    </div>
  </div>
</div>
